{% extends "base.html"%}
{% load staticfiles %}

{% block left_content %}

    {% include 'ad.html' %}

    <div class="topnews">
        {% for Rzxx in rz_list %}
          <div class="blogs">
            <figure><img src="/static/img/04.jpg"></figure>
            <ul>
              <h3><a href="/">{{ Rzxx.yymc }}֪</a></h3>
              <p>{{ Rzxx.bz }}</p>
              <p class="autor"><span class="lm f_l"><a href="/">{{Rzxx.sbcj}}</a></span><span class="dtime f_l">{{Rzxx.rzsj | date:'y-m-d' }}</span><span class="viewnum f_r">浏览<a href="/">459</a></span><span class="pingl f_r">评论<a href="/">30</a></span></p>
            </ul>
          </div>
        {% endfor %}
{#        </div>#}
          <!--分页代码-->
{#        <div id="paginstion">#}
{#        <ul id="pagination-flickr">#}
{#        <li class="previous-off">&laquo;上一页</li>#}
{#            <li class="active">1/10</li>#}
{#            <li class="next"><a href="?page=8">下一页 &raquo;</a></li>#}
{#        </ul>#}
{#        </div>#}
        <div id="pagination">
        <ul id="pagination-flickr">
        {% if rz_list.has_previous %}
            <li class="previous"><a href="?page={{ rz_list.previous_page_number }}">&laquo
            {% else %}
            <li class="previous-off">&laquo;上一页</li>
            {% endif %}
            <li class="active">{{ rz_list.number }}/{{ rz_list.paginator.num_pages}}
            {% if article_list.has_next %}
               <li class="next"><a href="?page={{ rz_list.next_page_number }}">下一页 &raquo
            {% else %}
               <li class="next-off" >下一页 &raquo;</li>
        {% endif %}
        </ul>
        </div>

   </div>
{% endblock %}