{% extends "base.html"%}
{% load staticfiles %}

{% block left_content %}

    {% include 'ad.html' %}

    <div class="topnews">
        {% for Rzxx in rz_list %}
          <div class="blogs">
            <figure><img src="/static/img/04.jpg"></figure>
            <ul>
              <h3><a href="/">{{ Rzxx.yymc }}֪</a></h3>
              <p>{{ Rzxx.bz }}</p>
              <p class="autor"><span class="lm f_l"><a href="/">{{Rzxx.sbcj}}</a></span><span class="dtime f_l">{{Rzxx.rzsj | date:'y-m-d' }}</span><span class="viewnum f_r">型号：<a href="/">{{ Rzxx.sbxh }}</a></span><span class="pingl f_r">评论<a href="/">30</a></span></p>
            </ul>
          </div>
        {% endfor %}


   </div>

    {#引入分页模块#}
    {% include 'paginator.html' %}

{% endblock %}
