<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>协和肿瘤课题项目</title>
</head>
<body>
	<script src='/static/js/jquery.js'> </script>
	<script src='/static/js/main.js'> </script>

	<div  class="srqy">
		<br>
		医院名称：
		<input type="text" name="yymc">
		<br>
		地理位置：
		省：	<select style="width:100px;"> type="text" name="sheng">
				<option value ="hubei">湖北省</option>
			</select> &nbsp;&nbsp; 
		市：<select style="width:100px;"> type="text" name="shi">
				<option value ="wuhan">武汉市</option>
			</select>
		<br>
		医院等级：
		<select style="width:100px;"> type="text" name="dlwz"></select>
		<br>
		<button type="queren">确认</button> &nbsp;&nbsp; 
		<button type="fagnqi">放弃</button>






	</div>



</body>
</html>